.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.first{
    background-image: url("../images/Banner\ Image.png");
    /* opacity: 600px; */
    color: #FFFFFF;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    /* padding: 140px 50px; */
    border-radius: 16px;
}
.year{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: -200px; */
    transform: translateY(180px);
    /* padding: 117px 344px; */
}
.happy{
    font-size: 50px;
    font-weight: 500;
}
.party{
    transform: translateY(-150px);
    font-size: 70px;
}

/* Second-Part */
.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 802px;
    height: 806px;
    margin: 0 auto;
    padding-left: 399px;
    padding-right: 399px;
    padding-top: 20px;
}
.parcent{
    color: #FF0000;
    font-size: 70px;
    transform: translateY(30px);
}
.deals{
    color: #FF0000;
}


/* Third-Part */

.third{
    background-image: url("../images/Vectorrr.png");
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    color: #FFFFFF;
    margin-top: 130px;
}
.welcome{
    margin-left: 100px;
    transform: translateY(200px);
}
.midnight{
    font-size: 64px;
    font-weight: bold;
}
.join{
    transform: translateX(20px);
}

/* Fourth-Part */
.fourth{
    max-width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 130px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.08), #FFFFFF);
}
.color{
    color: #FF0000;
}
.btn{
    color: #FFFFFF;
    background-color: #FF0000;
    border: none;
    border-radius: 10px;
    margin: 40px;
    padding: 15px;
    transform: translateY(-50px);
}
.size{
    font-size: 30px;
}
.place{
    transform: translateY(60px);
}
.time{
    transform: translateY(-60px);
}

/* Fifth-Part */
.offer{
    max-width: 1320px;
    height: 463px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    margin-top: 130px;
}
.red{
    color: #FF0000;
}
.font{
    font-size: 48px;
    font-weight: bold;
    
}